### 1. Import to Cloud storage the data from local file system (Iris dataset)

### 2. Create a workbench instance in Vertex AI or local instance with Vertex AI SDK installed

if locally run in shell :

`conda activate <env_name>`

In [1]:
import vertexai_start
import pandas as pd

/home/diogo/miniconda3/envs/vertexai_env/lib/python3.9/site-packages/requests/__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

Vertex AI initialized

In [4]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv("gs://vertexai-storage11/IRIS.csv")

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
type(df)

pandas.core.frame.DataFrame